extends layout2

block content
  h1.font-bold.text-center.text-xl.m-4 Setting
  p.text-center
    | Use two-factor authentication
  form.text-center
    .form-check-inline.m-4
      input#disable.form-check-input(type='radio', name='two_fa', value='disable', checked=stwo_fa=='disable')
      | Disable
      input#enable.form-check-input(type='radio', name='two_fa', value='enable', checked=stwo_fa=='enable')
      | Enable
    .rounded
    form.m-4(action='/setting/', method='POST')
      .set
        table.w-full.m-4.max-w-md
            tr
              td(colspan='3') In order for third-party applications to run, scan the QR code below or tap the secret key directly in the app :
            tr.m-4
              td QR Code
              td
                img(src=qrcode, alt='QR Code')
              td
                input(type="text", name='user', value=user)
            tr.m-4
              td Secret Key
              td
                input#secret_key.form-control.w-full(type='text', name='secret_key', value=secret_key, readonly)
              td 
                a.m-2(href='/admin/refresh') Refresh 
            tr
              td(colspan='3') To confirm that the third-party app has been properly set up, enter the security code displayed on your phone. 
            tr
              td Security Code     
              td
                input#security_code.form-control.w-full(type='text', name='security_code', required)
              td 
                form.text-center(method='POST' action='/settingconfirm')
                  button.shadow.bg-grey-darkest.text-white.font-bold.py-2.px-4.rounded.mb-2(class='hover:bg-purple-light', type='submit' , value='submit')
                    | CONFIRM
      input.bg-blue-dark.text-white.font.py-2.px-4.rounded.m-4(class='hover:bg-blue-light', type='submit', value='Save Setting', onClick='return confirm_set()')

        
    
    